<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NASA</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab" rel="stylesheet">
  </head>
  <body id="result-body">
    <div class="container, result-info">
      <!--displays the data from the hash of the nasa api (which are now instance variables)-->
     <h1><%=@result.title%></h1> 
     <h1><%=@result.date%></h1>
     <!--depending on the media type, it needs its unique html tags so the following code checks the media type and then puts in its respective tags-->
     <%if @result.media_type=="image"%>
       <img src=<%="#{@result.media_url}"%>>
     <%else%>
     <iframe src=<%="#{@result.media_url}"%>  allowfullscreen></iframe> 
     <% end %>
        <h3><%=@result.copyright%></h3>
     <br></br>
     <p><%=@result.explanation %></p>
     <br>
     <!--A back button to go back to the previous page-->
      <a href='javascript:history.back()'><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span> Back
        </button></a>
    </div>
  </body>
</html
