<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NASA</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab" rel="stylesheet">
  </head>
  <body id="result-body">
    <div class="container, result-info">
     <h1><%=@result.title%></h1>
     <h2><%=@result.date%></h2>
     <%if @result.media_type=="image"%>
       <img src=<%="#{@result.media_url}"%>>
     <%else%>
     <%puts @result.media_url%>
     <iframe src=<%="#{@result.media_url}"%>  allowfullscreen></iframe> 
     <% end %>
     <br></br>
     <p style=" padding-right: 150px;  padding-left: 150px;"><%=@result.explanation %></p>
    </div>
  </body>
</html
